/*.title{
    font-size: 20px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 20px;
    font-family: inherit;
    line-height: 1.1;
}


.nav-smooth{
    position: fixed;
    list-style-type:none;
}
.nav-smooth a {
    color: white;
}
.opblock-summary-method {
    line-height: 2.1;
    font-size: 14px;
    font-weight: 700;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;   
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-family: Titillium Web,sans-serif;
}
.info{
    background: #49cc90;
}
.apps{
    background: #fca130;
}
.purchases{
    background: #61affe;
}
.payment{
    background: #f93e3e;
}
.top{
    background: #49cc90;
}

.partme{
    min-height: 80%;
    padding-top: 1px;
}

.me-table{
    margin:auto;
    box-shadow: 10px 10px 15px darkgrey;
    width :auto;
}

.odd{
    background: white;
}
.even{
    background: linear-gradient(to bottom left,rgb(95, 176, 228),white);
}
.info_me{
    font-size: 18px;
}*/