<div class="container">
    <div class="table-responsive" style="margin-bottom: 0; padding-bottom: 0;">
        <table class="table table-striped table-bordered">      
            <thead>
                <tr>
                    <td> <span><input class="form-control" ng-model="filtparams.id"></span></td>
                    <td> <span><input class="form-control" ng-model="filtparams.name"></span> </td>
                    <td> <span><input class="form-control" ng-model="filtparams.userid"></span></td>
                    <td> <span><input class="form-control" ng-model="filtparams.email"></span> </td>
                    <td> <span><input class="form-control" ng-model="filtparams.password"></span> </td>
                    <td> <span><input class="form-control" ng-model="filtparams.balance"></span></td>
                    <td> <span>
                            <input class="form-control" ng-model="filtparams.rolecode" list="searchRoles" ng-focus="asearchRoleInputChange(filtparams.rolecode)" ng-change="searchRoleInputChange(filtparams.rolecode)">
                            <datalist id="searchRoles">
                                <select ng-model="selectedRole" ng-options="role.rolecode as role.roledesc for role in searchedRoles track by role.rolecode"></select>
                            </datalist>
                        </span> 
                    </td>

                    <td> <span><input class="form-control" ng-model="filtparams.createdtime"></span> </td>
                    <td> <button class="form-control" ng-click="clearFilter()" ><span class="glyphicon glyphicon-remove"></span></button> </td>
                    <td> <button class="form-control" ng-click="loadUserWihFilter()" ><span class="glyphicon glyphicon-search"></span></button> </td>
                </tr>
                <tr>                           
                    <th style="width: 7%;"><span ng-click="sortByPropertyUser('id')">Id</span></th>
                    <th><span ng-click="sortByPropertyUser('name')">Name</span></th>
                    <th><span ng-click="sortByPropertyUser('userid')">Username</span></th>
                    <th><span ng-click="sortByPropertyUser('email')">Email</span></th>
                    <th>Password</th>
                    <th style="width: 5%;"><span ng-click="sortByPropertyUser('balance')">Balance</span></th>
                    <th style="width: 10%;"><span ng-click="sortByPropertyUser('role')">Role</span></th>
                    <th><span ng-click="sortByPropertyUser('createdtime')">Create time</span></th>
                    <th style="width: 3%;">Edit</th>
                    <th style="width: 5%;">
                        <span ng-show="textBtnForm.$visible"> Close </span>
                        <span ng-hide="textBtnForm.$visible"> Delete </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter : filterText">
                    <td> <span>{{user.id}} </span> </td>
                    <td> <span ng-show="!user.e">{{user.name}} </span> 
                        <input class="form-control" ng-show="user.e" ng-model="user.e.name" /> </td>
                    <td> <span ng-show="!user.e">{{user.userid}} </span>
                        <input class="form-control" ng-show="user.e" ng-model="user.e.userid" /></td>
                    <td> <span ng-show="!user.e">{{user.email}} </span>
                        <input class="form-control" ng-show="user.e" ng-model="user.e.email" /></td>
                    <td> <span ng-show="!user.e"> ******* </span>
                        <input type="password" class="form-control" ng-show="user.e" ng-model="user.e.password" /></td>
                    <td> <span ng-show="!user.e">{{user.balance}} </span>
                        <input class="form-control" ng-show="user.e" ng-model="user.e.balance" /></td>
                    <td> <span ng-show="!user.e">{{user.role}} </span>
                        <input class="form-control" ng-show="user.e" ng-model="user.e.role" list="searchRoles1" ng-change="searchRoleInputChange(user.e.role)">
                        <datalist id="searchRoles1">
                            <select ng-model="selectedRole" ng-options="role.rolecode as role.roledesc for role in searchedRoles track by role.rolecode"></select>
                        </datalist>
                    
                    </td>
                    <td> {{user.createdtime}} </td>
                    <td>
                        <button title="Edit" class="btn btn-primary btn-xs" data-title="Edit" type="button" ng-click="signalEditUser(user)" ng-show="!user.e">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button title="Update" class="btn btn-primary btn-xs" data-title="Update" type="button" ng-click="updateUser(user.e)" ng-show="user.e">
                            <span class="glyphicon glyphicon-saved"></span>
                        </button>
                    </td>
                    <td>
                        <button title="Delete" class="btn btn-danger btn-xs" data-title="Delete" ng-click="deleteUser(user.id, $index)" ng-show="!user.e">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button title="Cancel" class="btn btn-danger btn-xs" data-title="Delete" ng-click="signalExitEditUser(user)" ng-show="user.e">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td> 
                </tr>
                <tr ng-show="showAdd">
                    <td>New</td>
                    <td><input class="form-control" placeholder="name" ng-model="cuser.name"></td>
                    <td><input class="form-control" placeholder="userid" ng-model="cuser.userid"></td>
                    <td><input class="form-control" placeholder="email" ng-model="cuser.email"></td>
                    <td><input class="form-control" placeholder="password" type="password" ng-model="cuser.password"></td>
                    <td><input class="form-control" placeholder="balance" ng-model="cuser.balance"></td>
                    <td>
                        <input placeholder="role" class="form-control" ng-model="cuser.role" list="searchRoles2" ng-change="searchRoleInputChange(cuser.role)">
                        <datalist id="searchRoles2">
                            <select ng-model="selectedRole" ng-options="role.rolecode as role.roledesc for role in searchedRoles track by role.rolecode"></select>
                        </datalist>
                    </td>
                    <td>Now</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Save"><button class="btn btn-success btn-xs" data-title="Save"  ng-click="createNewUser(cuser)"><span class="glyphicon glyphicon-floppy-saved"></span></button></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Close"><button class="btn btn-danger btn-xs" data-title="Close" ><span class="glyphicon glyphicon-remove" ng-click="showAdd = false"></span></button></p></td>
                </tr>
                
            </tbody>      
        </table>               
    </div>
    <div class="table-responsive form-inline" align="left" style="margin-top: 0; padding-top: 0;">

        <!--pagination-->
        <div class="form-group">
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
        </div>
        <!--filter-->
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Filter" ng-model="filterText" >
        </div>
        <!--add new-->
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary btn-create" ng-click="showAdd = true">Create New</button>
        </div>
    </div>
</div>
